.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('../../images/stars-pttnr.png'), #1b1b25;
  color: #FFFFFF;
  text-align: center;
}

.img {
  width: 300px;
}
